@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
/*Amiri Font
font-family: 'Amiri', serif;*/

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amiri", serif;
  position: relative;
}
.navbar {
  margin: 0;
  background-color: #ffddca;
  position: sticky;
  top: 0;
}
ul {
  list-style-type: none;
  margin-block-start: 0em;
  /* padding: 2%; */
}
.anc1 {
  text-decoration: none;
  color: black;
}
.all4 {
  /* padding: 6px; */
  padding: 0.7%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}
.li {
  padding: 6px 2px 6px;
}
.all3 {
  /* padding: 4px; */
  color: #000000;
  margin-right: 5vw;
}
.logo {
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #9d775b;
  margin-left: 72px;
  margin-right: 50vw;
}
.anc1:hover {
  background-color: #fcf3e4;
  color: #9d775b;
  cursor: pointer;
}
.logo:hover {
  cursor: pointer;
}
.quote {
  color: #9d775b;
  font-size: 2rem;
  /* margin: 5%; */
  margin-top: 2%;
  /* margin-bottom: 0; */
  text-align: center;
  /* font-family: "Amiri", serif; */
}
.quote::selection {
  background-color: #ffddca;
  color: white;
}
.img1 {
  margin-left: 15%;
  width: 60%;
  height: 30%;
}

.readnow {
  /* margin-top: 30%; */
  position: absolute;
  top: 50vh;
  /* right: 0; */
  padding: 7px 60px;
  background-color: #fcf3e4;
  color: #8d857f;
  font-style: italic;
  text-decoration: none;
}
.readnow:hover {
  background-color: #ffddca;
  color: white;
}
/* .secndscreen {
  background-color: #ffddca;
  
} */
.textofarticle {
  /* position: relative; */
  display: inline-block;
  /* margin: 0 20px; */
  padding: 4%;
  width: 40vw;
  height: 50vh;
  color: #9d775b;
  background-color: #ffddca;
}
.headingart::selection,
.content1::selection {
  color: white;
  background-color: #9d775b;
}
.meditate {
  /* display: inline-block; */
  /* position: absolute; */
  /* left: 0; */
  /* Understand the statement below */
  /* margin-left: 40px; */
  width: 50vw;
  height: 80vh;
}
.headingart {
  text-align: center;
  font-size: 2rem;
  /* text-decoration: underline; */
  /* font-weight: lighter; */
}
.content1 {
  font-size: 1.6rem;
}
.anchor2 {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  /* margin-top: 50px; */
  padding: 1% 3%;
  color: white;
  background-color: #9d775b;
}
/* .imgstudy {
  /* margin-top: 20vh; */
/* margin-left: 30px; */
/* width: 40vw;
  height: 50vh; */
/* }  */
.art2 {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  /* padding: 50px;
  background-color: white; */
  color: #9d775b;
  /* width: 50vw;
  height: 50vh; */
}
/* .readings {
} */
.footer {
  margin-left: 8px;
  width: 97vw;
  height: 6vh;
  background-color: #fcf3e4;
  color: #9d775b;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}
.readings {
  margin-right: 6%;
  margin-bottom: 2%;
}
.readings h2 {
  text-align: center;
  font-size: 2rem;
}
.readings div {
  font-size: 2rem;
}
.readings p {
  font-size: 1.25rem;
}
